@model GPSystem.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}


<div class="col-md-8 col-md-offset-2">
    <div style="width: 200px; height:190px; overflow: hidden; margin: 8px auto" class="center-block">
        <img src="~/imgRepo/profilePic/f9e0e614-8899-4673-9640-e766d4823b96WIN_20160211_155746.jpg" class="profilePic img-circle img-responsive center-block" />
    </div>
    
    
    <div class="jumbotron" style="overflow: hidden;">
        <legend class="text-center">Profile</legend>
        <table class="table table-responsive col-md-offset-3">
            <tr>
                <th class="col-md-4">Name</th>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>@Html.DisplayFor(model => model.Surname)</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>@Html.DisplayFor(model => model.Gender)</td>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>@ViewBag.Age </td>
            </tr>
            <tr>
                <th>My Church</th>
                <td>@ViewBag.Church</td>
            </tr>

            <tr>
                <th>Phone Number</th>
                <td>
                    N/A @if (Model.PhoneNumber != null)
                    { <p>wwww</p>}
                </td>
            </tr>
        </table>
        <p class="text-center">
            <a href="#" class="btn btn-sm btn-default">Edit Profile <span class="glyphicon glyphicon-pencil" style="padding-left: 10px;"></span></a>
        </p>
    </div>
</div>