@model GPSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2><hr />
<div class="animated slideInRight">
<div class="col-md-6">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class = "col-md-4 control-label">Name <sup style="color: #bb4848">*</sup></label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Surname <sup style="color: #bb4848">*</sup></label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Email <sup style="color: #bb4848">*</sup></label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Password <sup style="color: #bb4848">*</sup></label>
            <div class="col-md-8">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Confirm Password <sup style="color: #bb4848">*</sup></label>
            <div class="col-md-8">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <legend>Miscellaneous Info</legend>

        <div class="form-group">
            <label class="col-md-4 control-label">Gender <sup style="color: #bb4848">*</sup></label>
            <div class="col-md-8">
                @Html.EnumDropDownListFor(m => m.Gender, "Select Gender", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Church I Belong To <sup style="color: #bb4848">*</sup></label>
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.ChurchId, new SelectList(ViewBag.Churches, "Id", "Name"), "Select a church", new { @class = "form-control" })
                Can't find your church? <a href="">Request It.</a> <br />
            </div>
        </div>              

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" class="btn btn-success" value="Register" />
            </div>
        </div>

    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
<div class="col-md-5 col-md-offset-1">
    <img src="~/imgRepo/jesus_png_9_by_mariamlouis-d5ew6py.png" class="img-responsive" />
</div>
</div>
<hr />
<p class="text-center">
    By clicking "Register", you agree that you understand our <strong>Terms of use</strong> and <strong>Privacy statement</strong>.
</p>